
.css-1vq4p4l {
    padding: 6rem 1rem 1.5rem;
    background-color: #4c85e4;
}

.css-6qob1r {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: overlay;
    background-color: #4c85e4;
}


#learn-to-work-with-chatgpt-applications{
    text-align: center;
    color: black;
    font-size: 25px;
    padding: 52px 33px 14px 40px;
}


#root > div:nth-child(1) > div.withScreencast > div > div > div > section.css-163ttbj.e1fqkh3o11 > div.css-6qob1r.e1fqkh3o3 > div.css-1vq4p4l.e1fqkh3o4 > div > div:nth-child(1) > div > div:nth-child(7) > div > div > form > input[type=submit]{
        border-radius: 2px;
        background-color: #32CD32;
        border: thick;
        height: 42px;
        width: 302px;
}

hr {
    margin: 0em 0px;
}

/* buttons */
/* .stButton>button {
   background-color: rgb(47 236 106);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
    width: 320px;
    height: 70px;
} */



  

#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.css-k1vhr4.egzxvld3 > div > div:nth-child(1) > div > div:nth-child(8){
    height: 90px;;
}

#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.css-k1vhr4.egzxvld3 > div > div:nth-child(1) > div > div:nth-child(9)
{
    height: 90px;
}

#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.css-k1vhr4.egzxvld3 > div > div:nth-child(1) > div > div:nth-child(10){
    height: 90px;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.css-k1vhr4.egzxvld3 > div > div:nth-child(1) > div > div:nth-child(11){
    height: 90px;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.css-k1vhr4.egzxvld3 > div > div:nth-child(1) > div > div:nth-child(12){
    height: 90px;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.css-k1vhr4.egzxvld3 > div > div:nth-child(1) > div > div:nth-child(13){
    height: 90px;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.css-k1vhr4.egzxvld3 > div > div:nth-child(1) > div > div:nth-child(14){
    height: 90px;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.css-k1vhr4.egzxvld3 > div > div:nth-child(1) > div > div:nth-child(15){
    height: 90px;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.css-k1vhr4.egzxvld3 > div > div:nth-child(1) > div > div:nth-child(16){
    height: 90px;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.css-k1vhr4.egzxvld3 > div > div:nth-child(1) > div > div:nth-child(17){
    height: 90px;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.css-k1vhr4.egzxvld3 > div > div:nth-child(1) > div > div:nth-child(18){
    height: 90px;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.css-k1vhr4.egzxvld3 > div > div:nth-child(1) > div > div:nth-child(19){
    height: 90px;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.css-k1vhr4.egzxvld3 > div > div:nth-child(1) > div > div:nth-child(20){
    height: 90px;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.css-k1vhr4.egzxvld3 > div > div:nth-child(1) > div > div:nth-child(21){
    height: 90px;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.css-k1vhr4.egzxvld3 > div > div:nth-child(1) > div > div:nth-child(22){
    height: 90px;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.css-k1vhr4.egzxvld3 > div > div:nth-child(1) > div > div:nth-child(23){
    height: 90px;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.css-k1vhr4.egzxvld3 > div > div:nth-child(1) > div > div:nth-child(24){
    height: 90px;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.css-k1vhr4.egzxvld3 > div > div:nth-child(1) > div > div:nth-child(7) > div > div:nth-child(2){
    height: 90px;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.css-k1vhr4.egzxvld3 > div > div:nth-child(1) > div > div:nth-child(7) > div > div:nth-child(3){
    height: 90px;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.css-k1vhr4.egzxvld3 > div > div:nth-child(1) > div > div:nth-child(7) > div > div:nth-child(4){
    height: 90px;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.css-k1vhr4.egzxvld3 > div > div:nth-child(1) > div > div:nth-child(7) > div > div:nth-child(5){
    height: 90px;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.css-k1vhr4.egzxvld3 > div > div:nth-child(1) > div > div:nth-child(7) > div > div:nth-child(6){
    height: 90px;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.css-k1vhr4.egzxvld3 > div > div:nth-child(1) > div > div:nth-child(7) > div > div:nth-child(7){
    height: 90px;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.css-k1vhr4.egzxvld3 > div > div:nth-child(1) > div > div:nth-child(7) > div > div:nth-child(8){
    height: 90px;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.css-k1vhr4.egzxvld3 > div > div:nth-child(1) > div > div:nth-child(7) > div > div:nth-child(9){
    height: 90px;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.css-k1vhr4.egzxvld3 > div > div:nth-child(1) > div > div:nth-child(7) > div > div:nth-child(10){
    height: 90px;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.css-k1vhr4.egzxvld3 > div > div:nth-child(1) > div > div:nth-child(7) > div > div:nth-child(11){
    height: 90px;
}

/*#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.css-k1vhr4.egzxvld3 > div > div:nth-child(1) > div > div:nth-child(8) > iframe
{
    height: 80px;
}*/


.stButton>button {
    background-color: rgb(47 236 106);
    border: none;
    color: black;
    padding: 3px 28px 49px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: 2px 2px;
    cursor: pointer;
    width: 300px;
    height: 56px;
}

.css-hi6a2p{
    padding-bottom: 10px;
}
/* sidebar dropdown padding */
/* .css-z8kais { */
.css-1l02zno{
    padding-bottom: 100px;
}
.row-widget .stSelectbox{
    padding-bottom: 100px;
}
/* copy selector instead of xpath */
#root > div:nth-child(1) > div > div > div > div > section.css-1lcbmhc.e1fqkh3o0 > div.css-1l02zno.e1fqkh3o1 > div.block-container.css-1dnb06j.eknhn3m2 > div:nth-child(1) > div:nth-child(3)
{
    padding-bottom:30px;
}
#root > div:nth-child(1) > div > div > div > div > section.css-1lcbmhc.e1fqkh3o0 > div.css-1l02zno.e1fqkh3o1 > div.block-container.css-1dnb06j.eknhn3m2 > div:nth-child(1) > div:nth-child(2)
{
    padding-bottom:30px;
}

#root > div:nth-child(1) > div > div > div > div > section.css-1lcbmhc.e1fqkh3o0 > div.css-1l02zno.e1fqkh3o1 > div.block-container.css-1dnb06j.eknhn3m2 > div:nth-child(1) > div:nth-child(1)

{
    padding-bottom:30px;
}
#root > div:nth-child(1) > div > div > div > div > section.css-1lcbmhc.e1fqkh3o0 > div.css-1l02zno.e1fqkh3o1 > div.block-container.css-1dnb06j.eknhn3m2 > div:nth-child(1) > div:nth-child(4){
   padding-bottom:30px; 
}    
/* title */
.css-h2raq8>h2{
    width:110%;
    text-align: center;
}
/* sidebar width reduce */
.css-1l02zno{
    color: black;
    background-color: #2e5cb8;
    width: 17rem;
}
/* Main page */

#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.css-k1vhr4.egzxvld3 > div > div:nth-child(1) > div > div:nth-child(6) > div:nth-child(2){
    padding: 59px 22px 32px 44px;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.css-k1vhr4.egzxvld3 > div > div:nth-child(1) > div > div:nth-child(7) > div:nth-child(2){
    padding: 59px 22px 32px 44px;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.css-k1vhr4.egzxvld3 > div > div:nth-child(1) > div > div:nth-child(8) > div > div:nth-child(1) > div:nth-child(2){
    padding: 59px 22px 32px 44px;
}
.css-1v0mbdj {
    display: block;
    text-align: center;
    margin: 0 auto;}

.reportview-container {
        background: solid white;
    }
    /* img {
        max-width: 35%;
        margin: 0 auto;
        text-align: center;
        height: 108%;
        width: 70%;
        left: -47px;
        position: relative;
        top: -64px;
    } */

    img {
        margin: 0 auto;
        text-align: center;
        height: 108%;
        width: 56%;
        left: 0px;
        position: relative;
        top: -10px;
    }
.css-10trblm {
    padding:0px;
}

.css-15jwbbi {
    display: inline-block;
    background: rgb(240, 242, 246);
    border: 
1px
 solid transparent;
    border-radius: 
10px
;
    max-width: 70%;
    padding: 
10px
;
    height: auto;
}

.st-dt {
    background-color: grey;
}
.st-ds {
    color: white;
}

#chat-with-gpt{
    padding: 10px 20px 30px 8px;
}

#select-the-model-api{
    padding: 10px 20px 30px 8px;
}

h3 {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    color: rgb(49, 51, 63);
    letter-spacing: -0.005em;
    padding: 0.5rem 0px 1rem;
    margin: 0px;
    line-height: 1.2;
    font-size: 18px;
}

.css-1ad1cau {
    width: calc(5.45455% - 
1rem
);
    flex: 1 1 calc(5.45455% - 
-1.1rem
);
}


#gpt-simplifies-the-prediction-of-profanity-hate-insult-obscene-and-threat > div > span{
    padding: 10px;
}

.css-7po9eu {
    flex: 1 1 25%;
    width: 2px;
    padding-left: 0.3rem;
}

#gpt-detects-profanity-hate-insult-obscene-and-threat-in-public-policy > div > span{
    padding: 10px;
}

#root > div:nth-child(1) > div > div > div > div > section.css-1lcbmhc.e1fqkh3o0 > div.css-1l02zno.e1fqkh3o1 > div.block-container.css-1dnb06j.eknhn3m2 > div:nth-child(1) > div:nth-child(1){
    background-color: #32CD32;
    /* background-color: red; */
  border: none;
  color: black;
/*   padding-bottom:30px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
    width: 234px;
    height: 49px;
    position: absolute;
  left: 0px;
  top: 380px;
    border-radius: 3px;
}    

#root > div:nth-child(1) > div > div > div > div > section.css-1lcbmhc.e1fqkh3o0 > div.css-1l02zno.e1fqkh3o1 > div.block-container.css-1dnb06j.eknhn3m2 > div:nth-child(1) > div:nth-child(1) > div > div > p > a{
    text-decoration:none;
    
}
p, ol, ul, dl {
    margin: 13px 0px 1rem;
    padding: 0px;
    font-size: 1rem;
    font-weight: 400;
    
}

/* .css-h2raq8>h2 {
    width: 110%;
    text-align: center;
    font-weight: bold;
    padding-right: 280px;
    padding-top: 50px; 
} */
.css-gztghi {
    position: relative;
    width: 698px;
    padding-bottom: 40px;
}
.st-e0 {
    border-left-color: black;
}
.st-e1 {
    border-right-color: black;
}
.st-e2 {
    border-top-color: black;
}
.st-e3 {
    border-bottom-color: black;
}
/* #root > div:nth-child(1) > div > div > div > div > section.main.css-1v3fvcr.eknhn3m1 > div > div:nth-child(1) > div:nth-child(3) > div > div > h2{
    height:100px;
    width:100%;
    padding-right:5rem;
} */

.css-h2raq8>h2 {
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
}
.css-hi6a2p {
    flex: 1 1 0%;
    width: 100%;
    padding: 5rem 0rem 0rem;
    max-width: 720px;
}
iframe {
    height: 430px !important;
}
/* .text-center {
    text-align: center!important;
    position: relative;
    top: 52rem;
} */
/* made with streamlit icon css changes */
/* .css-8xv65a {
    display: block;
    color: rgba(38, 39, 48, 0.4);
    flex: 0 1 0%;
    font-size: 0.8rem;
    max-width: 730px;
    padding: 0.5rem 1rem;
    width: 100%;
    top: 800px;
    position: absolute;
} */























#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.css-k1vhr4.egzxvld3 > div > div:nth-child(1) > div > div:nth-child(6){
    height:100px;
}









.css-10trblm{
    line-height:30px;
}

.css-1v0mbdj .etr89bj1{
    width:100% !important;
}


.css-ul34ed{
    text-align: center;
}

.css-1vq4p4l {
    padding: 15px 40px !important;

}

.css-kxru8c{
    gap: 0.5rem !important;
}
.css-13izhro, .css-7r184n{
gap: 0.5rem !important;
}
.css-6qob1r{
    overflow: initial !important;
}

.css-81oif8{
margin-bottom:0px !important;
}

#root > div:nth-child(1) > div.withScreencast > div > div > div > section.css-163ttbj.e1fqkh3o11 > div.css-6qob1r.e1fqkh3o3 > div.css-1vq4p4l.e1fqkh3o4 > div > div:nth-child(1) > div > div:nth-child(7) > div > div > form > input[type=submit]{
    width:100% !important;
}

.css-183lzff .eyqtai90{
    font-size:14px !important;
}

.css-1gx893w {
    flex: 1 1 0%;
    width: 103%;
}

#root > div:nth-child(1) > div.withScreencast > div > div > div > section.css-163ttbj.e1fqkh3o11 > div.css-6qob1r.e1fqkh3o3 > div.css-1vq4p4l.e1fqkh3o4 > div > div:nth-child(1) > div > div:nth-child(10) > div{
    width: 264px;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size:20px;
}

#root > div:nth-child(1) > div.withScreencast > div > div > div > section.css-163ttbj.e1fqkh3o11 > div.css-6qob1r.e1fqkh3o3 > div.css-1vq4p4l.e1fqkh3o4 > div > div:nth-child(1) > div > div:nth-child(12) > div > div > div > img{
    max-width: 100%;
    padding: 1px 23px 32px 33px;
    left: -10px;
}





/* #root > div:nth-child(1) > div.withScreencast > div > div > div > section.css-163ttbj.e1fqkh3o11 > div.css-6qob1r.e1fqkh3o3 > div.css-1vq4p4l.e1fqkh3o4 > div > div:nth-child(1) > div > div.css-ocqkz7.e1tzin5v4 > div:nth-child(3) > div:nth-child(1) > div{
    padding: 23px 21px 31px 48px;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.css-163ttbj.e1fqkh3o11 > div.css-6qob1r.e1fqkh3o3 > div.css-1vq4p4l.e1fqkh3o4 > div > div:nth-child(1) > div > div.css-ocqkz7.e1tzin5v4{
    padding: 0px 30px 42px 0px;
} */
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.css-163ttbj.e1fqkh3o11 > div.css-6qob1r.e1fqkh3o3 > div.css-1vq4p4l.e1fqkh3o4 > div > div:nth-child(1) > div > div.css-ocqkz7.e1tzin5v4 > div:nth-child(3) > div:nth-child(1) > div > div > div > div > div > img{
    max-width: 66%;
height: 116%;
}